* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 500px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 23px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}
.card:hover {
    background-color: #3a3a3c;
}

.icon {
    width: 88px;
    height: 88px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ffffff;
}

.wrapper {
    margin-left: auto;
    margin-right: 0.07em;
    background-color: #000;
    color: #fff;
    font-size: 26px;
    line-height: 160%;
    border-radius: 23px;
    border: 2px solid #ffffff;
}

.name {
    font-size: 40px;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;

}

#blum-icon {
    background-image: url('img/blum.png');
}

#iceberg-icon {
    background-image: url('img/iceberg.png');
}

#cubes-icon {
    background-image: url('img/cubes.png');
}

#arbuz-icon {
    background-image: url('img/arbuz.png');
}

#hamster-icon {
    background-image: url('img/hamster.png');
}
#orbitonx-icon {
    background-image: url('img/ox.png');
}
#fuel-icon {
    background-image: url('img/fuel.jfif');
}
#cat-icon {
    background-image: url('img/cati.jpg');
}
#BeeTon-icon {
    background-image: url('img/BeeTon.jpg');
}
#Pixelverse-icon {
    background-image: url('img/Pixelverse.jpg');
}


#blum-card {
    background-image: url('img/bliin.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 30%;
}
#iceberg-card {
    background-image: url('img/icebergpr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 75%;
}
#cubes-card {
    background-image: url('img/kapel.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 25%;
}
#arbuz-card {
    background-image: url('img/arbuzpr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}
#hamster-card {
    background-image: url('img/mani.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 75%;
}
#orbitonx-card {
    background-image: url('img/oxpr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}
#fuel-card {
    background-image: url('img/giga.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 25%;
}
#cat-card {
    background-image: url('img/catipr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}
#BeeTon-card {
    background-image: url('img/BeeTonpr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}
#Pixelverse-card {
    background-image: url('img/Pixelversepr.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 75%;
}




footer {
    background: linear-gradient(to top, rgba(0, 0, 1, 1), transparent);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Обеспечивает, что футер будет выше других элементов */
}
